# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
*.resolved

# VS Code
.vscode/settings.json

# Node (if ever added)
node_modules/

# Environment / secrets
.env
